@import "dark.less";
@import "light.less";
@import "~react-multi-carousel/lib/styles.css";

@font-face {
  font-family: "NEXON Lv2 Gothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv2 Gothic Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NEXON Lv2 Gothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  // font-family: 'Spoqa Han Sans', sans-serif;
  font-family: "NEXON Lv2 Gothic", -apple-system, system-ui, sans-serif;
  // font-family: 'Noto Sans KR', 'Spoqa Han Sans', sans-serif;
}

.ant-card-hoverable:hover {
  box-shadow: "0 1px 2px -2px rgba(0, 0, 0, 0.16), 0 3px 6px 0 rgba(0, 0, 0, 0), 0 5px 12px 4px rgba(0, 0, 0, 0.09)" !important;
}

.ant-list-pagination {
  margin-bottom: 24px !important;
}
.header {
  background: transparent !important;
}

.slick-initialized {
  .slick-track {
    .slick-slide {
      transition: 0.2s, opacity 0.1s ease-in;
      opacity: 0.7 !important;
      // filter: blur(1.5px);
    }
    .slick-center {
      transition: 0.2s, opacity 0.1s ease-in;
      opacity: 1 !important;
      // filter: none;
    }
  }
}

.post {
  img {
    object-fit: cover;
    width: 100%;
    max-height: 300px;
    padding-bottom: 12px;
  }
}

.SplashScreen {
  --transition-duration: 200ms;
  overflow-y: hidden;
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #131313;
  transition: opacity 0.4s var(--transition-duration) ease,
    visibility 0s calc(0.4s + var(--transition-duration));
}
.SplashScreen::-webkit-scrollbar {
  display: none;
}

.SplashScreen.loaded {
  visibility: hidden;
  opacity: 0;
}

.Loader-ProgressBar {
  position: absolute;
  z-index: 99;
  top: 0;
  right: 0;
  left: 0;
  height: 4px;
  transform: scaleX(0);
  transform-origin: left center;
  background: #fffd8f;
  pointer-events: none;
  transition: transform var(--transition-duration) linear;
}

// body {
//   position: fixed;
//   overscroll-behavior-y: contain;
//   overflow: hidden;
// }

body {
  overflow-x: hidden;
  transition: background-image 1s ease-in-out;
}

.ant-timeline {
  @media screen and (max-width: 769px) {
    .ant-timeline-item-tail {
      display: none;
    }
    .ant-timeline-item-head {
      display: none;
    }
    .ant-timeline-item-content {
      margin-left: 0;
    }
  }
  & .ant-timeline-item:last-of-type {
    padding-bottom: 0px;
  }
}

.ant-tag-magenta {
  border-color: inherit;
}

.ant-tag-green {
  border-color: inherit;
}
.ant-tag-processing {
  border-color: inherit;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.svgLoader {
  animation: spin 0.8s ease-in-out infinite;
  margin: auto;
}
.divLoader {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LazyLoader {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient-background {
  width: 100wh;
  height: 90vh;
  opacity: 0.8;
  color: #fff;
  background: linear-gradient(-70deg, #22c1c3, #ebe650, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 300% 300%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.menu-deck-card > div {
  height: 380px !important;
}

.menu-deck-card {
  height: 500px !important;
}

.slider-control-bottomcenter {
  bottom: -15px !important;
}

.slider-control-bottomcenter > ul > li > button {
  color: salmon !important;
}

.blog-card-container {
  & .ant-card-cover {
    padding: 12px;
  }
}

.deck-root {
  overscroll-behavior-y: contain;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica,
    ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  position: fixed;
  overflow: hidden;
}
.deck-area-desktop {
  z-index: 9;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  cursor: pointer;
}

.deck-area-mobile {
  padding-top: 8%;
  z-index: 9;
  position: absolute;
  left: -16px;
  overflow: hidden;
  width: 100%;
  // height: 100vh;
  cursor: pointer;
  // cursor: url('https://uploads.codesandbox.io/uploads/user/b3e56831-8b98-4fee-b941-0e27f39883ab/Ad1_-cursor.png')
  //     28 28,
  //   auto;
}
.card-container-mobile {
  position: absolute;
  //width: 100vw;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container-desktop {
  position: absolute;
  // width: 60vw;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-deck-mobile {
  padding: 20px;
  background-origin: padding-box;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 40vh;
  max-width: 700px;
  height: 50vh;
  max-height: 700px;
  will-change: transform;
  border-radius: 8px;
  box-shadow: 0 12.5px 30px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);

  @media screen and (max-width: 473px) {
    width: 30vh;
    height: 40vh;
  }
}

.card-deck-desktop {
  padding: 20px;
  background-origin: padding-box;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 65vh;
  max-width: 700px;
  height: 65vh;
  max-height: 700px;
  will-change: transform;
  border-radius: 8px;
  box-shadow: 0 12.5px 30px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
}

.navigation-menu-ul {
  padding: 25px;
  position: absolute;
  top: 100px;
  width: 230px;
}

.navigation-menu-li {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.navigation-menu-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
}

.navigation-menu-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  background: #fff;
}

.icon-placeholder {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  flex: 40px 0;
  margin-right: 20px;
}

.text-placeholder {
  border-radius: 5px;
  width: 200px;
  height: 20px;
  flex: 1;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.markdown p {
  line-height: 1.8;
  font-size: 14px;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.menu-carousel-container {
  // width: inherit;

  cursor: pointer;
}
// .menu-carousel-slide {
// }

// padding-bottom: 28px !important;

.menu-carousel-item {
  // width: auto !important;
  margin-right: 48px;
}

& .ant-pagination {
  & .ant-pagination-item {
    background: transparent;
    padding-top: 1px;

    &.ant-pagination-item-active {
      border-radius: 8px;
      border-color: rgba(178, 98, 252, 0.85);
      & a {
        color: rgba(178, 98, 252, 0.85);
      }
    }
  }
}

& .ant-modal {
  & .ant-modal-content {
    border-radius: 20px;
    & .ant-modal-header {
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
  }
}
